@use 'variables' as *;
@use 'colors' as *;

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin desk-about-margin {
    margin: 0 12rem 2.25rem 12rem;
}

@mixin desk-photo-margin {
    margin: 0 5rem;
}

@mixin mobile-foot {
        font-size: 0.813rem;
        line-height: 1.125rem;
        margin-top: 0;
}

@mixin tab-desk-h1 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
}


@mixin tab-desk-h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
}

@mixin tab-desk-q {
    font-size: 1.38rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: .05rem;
}

@mixin tab-desk-p {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.35rem;
}


@mixin tab-desk-h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

@mixin tab-desk-foot {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
}

@mixin subhead-caps {
    font-size: .7rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-med;
}

@mixin mob-p {
    font-size: .875rem;
    line-height: 1.13rem;
}

@mixin form-inputs {
    background-color: $secondary-light;
    border: 1px solid $secondary-med;
    border-radius: 4px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-family: 'Avenir';
}

@mixin button {
    color: $primary-light;
    background-color: $primary-dark;
    text-transform: uppercase;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Avenir';
    font-weight: 600;
}