@font-face {
    font-family: 'Avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
    font-weight: 400;
    font-style: normal;
}


// change woff format related to otf
@font-face {
    font-family: 'Avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2");
    font-weight: 600; 
    font-style: normal;
}