@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;
  color: white;
  height: 5rem;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 6rem;
    height: 6rem;
  }
}
.header__wordmark-link {
  margin: 1rem 0rem 0rem 0rem;
}
@media screen and (min-width: 768px) {
  .header__wordmark-link {
    margin: 0rem 1.5rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__wordmark-link {
    margin: 0rem 1.5rem 2rem 2rem;
  }
}

.nav {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 20%;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0%;
  font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    font-size: 1rem;
  }
}
.nav__list-link {
  color: #fafafa;
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list-link {
    margin: 0 2rem;
    padding-bottom: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list-link {
    margin: 0 2rem;
    padding-bottom: 1.8rem;
  }
}
.nav__list-link--active {
  border-bottom: 3px solid white;
  font-weight: 700;
}
.nav__list-link :visited {
  color: white;
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(50, 50, 50, 0.5);
  height: 12rem;
  width: 100vw;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-position: bottom;
    height: 29rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-position: top;
    height: 45rem;
  }
}
.hero__title {
  margin-left: 1rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 3.5rem;
  }
}

.about__title {
  margin: 1.5rem 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    margin: 5% 0 0 5%;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    margin: 3.5rem 0 1rem 8rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0rem 5.15rem 1.5rem 5.15rem;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    margin: 0 12rem 2.25rem 12rem;
  }
}
.about__img {
  height: auto;
  width: auto;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .about__img {
    max-width: 40rem;
    max-height: 21rem;
    margin: 4% 0 4% 0%;
  }
}
@media screen and (min-width: 1280px) {
  .about__img {
    max-width: 60rem;
    max-height: 30rem;
  }
}
.about__quote {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    width: 100%;
    font-size: 1.38rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.05rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    width: 80%;
  }
}
.about__quote-author {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0.25rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    margin-top: 1rem;
    align-self: flex-start;
    font-size: 1rem;
  }
}
.about__subtitle {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 2.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__subtitle {
    margin-bottom: 1.2rem;
  }
}
.about__text-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__text-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.about__text {
  width: 95%;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.35rem;
    width: 48%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 3rem 2.25rem 1.5rem 2.25rem;
  }
}
.gallery__title {
  margin: 1rem 1rem 0.25rem 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    margin: 0;
    padding: 0 0 0.75rem 0;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    margin: 0 5rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
.gallery__photo-container {
  padding-bottom: 0.5rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .gallery__photo-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photo-container {
    margin: 0 5rem;
  }
}
.gallery__photo {
  width: 90%;
  height: auto;
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    width: 31%;
  }
}

.footer {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #323232;
  color: white;
  height: 39rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5rem;
    position: relative;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    justify-content: space-evenly;
    height: 22rem;
    padding: 1rem 3rem 1rem 7rem;
  }
}
.footer__wordmark {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__wordmark {
    position: absolute;
    top: 11%;
    right: 5%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wordmark {
    position: absolute;
    top: 4rem;
    right: 7rem;
  }
}
.footer__copyright {
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 1rem 0 1rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-bottom: 0cm;
  }
}

.social {
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .social {
    display: flex;
    align-items: baseline;
    margin: 0;
    position: relative;
    top: 3%;
    left: 0%;
  }
}
.social__title {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .social__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
  }
}
.social__icon-wrapper {
  margin-top: 1rem;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .social__icon-wrapper {
    width: 20%;
    height: 100%;
    margin-left: 5%;
  }
}
.social__icon {
  width: 25px;
  height: 25px;
  padding-right: 10%;
}

.members {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.75rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .members {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 44rem;
    height: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .members {
    justify-content: space-between;
    height: auto;
    width: 46rem;
    margin-top: 1.75rem;
  }
}
@media screen and (min-width: 768px) {
  .members__box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .members__box {
    height: auto;
  }
}
.members__name {
  margin: 0;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .members__name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
  }
}
.members__company {
  margin-bottom: 0.8rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .members__company {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 0;
  }
}
.members__details {
  margin-bottom: 0.8rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .members__details {
    margin: 1.2rem 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}
.members__email {
  margin-bottom: 0;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .members__email {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.35rem;
  }
}/*# sourceMappingURL=bio.css.map */