@use './partials/mixins' as *;
@use './partials/colors' as *;
@use './partials/variables' as *;
@use './partials/typography' as *;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    height: 100%;

}

// mobile page header
// h1 {
//     font-size: 1.5rem;
//     line-height: 2rem;
//     font-weight: 700;
    
// }

// section header
// h2 {
//     font-size: 1.5rem;
//     line-height: 2rem;
//     font-weight: 700;
// }

// subheader
// h3 {
//     font-size: 0.875rem;
//     line-height: 1.375rem;
//     font-weight: 600;
// }



// body copy, footer copy
p {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin-top: 0;
}


// HEADER
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-dark;
    color: $primary-light;
    @include tablet {
        flex-direction: row;
        height: 10vh;
        justify-content: flex-start;
        align-items: flex-end;
    }
    &__bio-link {
        @include tablet {
            margin: .45rem .5rem;
        }
    }
    &__wordmark {
        margin: 1rem;
        
    }
}

// NAVIGATION
.nav {
    width: 100%;
    @include tablet {
        width: 20%;
        
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0%;
        font-size: 0.813rem;
        @include tablet {
        font-size: 1rem;
      
        }
    }

    &__list-link {
        color: $secondary-light;
        text-decoration: none;
        width: 50%;
        text-align: center;
        padding-bottom: 0.5rem;
        @include tablet {
            margin: 0 2rem;
            padding-bottom: 1.5rem;
            
            }
       
        &--active {
            border-bottom: 3px solid $primary-light;
            font-weight: 700;
            
        
        }

        :hover {
            border-bottom: 3px solid $primary-light;
        }

        :visited {
            color: $primary-light;
        }
    }
}


// HERO SECTION
.hero {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(50, 50, 50, 0.5);
    height: 28vh;
    width: 100%;
    display: flex;
    align-items: center;
    @include tablet {
        height: 30rem;
        // using rem is responsive but shows less of screen when shrinking browser height
        // using vh keeps the image at same % of visible screen but changes image differently
        // change width at each break based on vw
    }

    &__title {
        margin-left: 1rem;
        color: $primary-light;
        @include tablet {
          @include tab-desk-h1;
          margin-left: 5%; 
        }
        
    }
}


// ABOUT SECTION
.about {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    color: $primary-dark;
    @include tablet {
        margin: 1rem 2.15rem 1.5rem 2.15rem;
        height: auto;
    }
    

    &__title {
        margin: 1.5rem 0 0 0;
        @include tablet {
            @include tab-desk-h2;
            margin-right: 50%;
        }
    
    }

    &__img {
        height: auto;
        width: auto;
        margin: 1rem 0;
        @include tablet {
           width: 75%; 
           height: 20rem;
           margin-left: 7%;
        }
    }

    &__quote {
        margin: 0;
        @include tablet {
            width: 88%; 
            margin-left: 7%;
            @include tab-desk-h3;
         }
            &-author {
                margin-top: 1rem;
                @include tablet {
                    align-self: flex-start;
                    margin-left: 7%;
                    font-size: 1rem;
                }
            }
    }

    &__subtitle {
        margin: 1rem 0;
        font-weight: 600;
        @include tablet {
            margin-left: 7%;
            @include tab-desk-h3;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            width: 90%;
        }
    }

    &__text {
        @include tablet {
            margin-left: 7%;
        }
    }
}


// GALLERY SECTION
.gallery {
    display: flex;
    flex-direction: column;
    background-color: $secondary-light;
    @include tablet {
        padding: 3rem 2.25rem 1.5rem 2.25rem;
    }


    &__title {
        margin: 1rem 1rem 0 1rem;
        @include tablet {
            margin:0;
            padding: 0 0 .75rem 0;
        }
        
    }

    &__photo-container {
        padding-bottom: 1rem;
        background-color: $secondary-light;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 0;
        }
    }

    &__photo {
        width: 90%;
        height: auto;
        margin: .75rem 0;
        @include tablet {
            width: 31%;
            
        }
    }
}


// FOOTER
.footer {
    padding: 1rem;
    background-color: $primary-dark;
    color: $primary-light;
    border: 3px solid magenta;
    @include tablet {
        padding: 1.5rem;
        position: relative;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }

    // got the position right side good doesn't move, but moves up and down?
    &__wordmark {
       margin: 1rem 0;
       @include tablet {
           position: absolute;
           bottom: 75%;
           right: 5%;
       }
    }

    &__copyright {
        border: 2px solid salmon;
        @include tablet {
            @include tab-desk-body;
        }
    }
}



.social {
    margin: 16px 0;
    border: 2px solid red;
    @include tablet {
        display: flex;
        align-items: baseline;
    }
    &__title {
        margin: 0;
        @include tablet {
            @include tab-desk-h2;
        }
    }
    &__icon-wrapper {
        // border: 2px solid blue;
        @include tablet {
            width: 20%;
            height: 100%;
            margin-left: 5%;
            
        }
    }
    &__icon {
        width: 25px;
        height: 25px;
        padding-right: 10%;
    }
    
}

.members {
    border: 2px solid green;
    @include tablet {
        display: flex;
        justify-content: space-between;
        width: 100%;  
        height: 50%;      
    }

    &__box {
        border: 2px solid turquoise;
        margin: 16px 0;
        @include tablet {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__name {
        margin: 0;
        @include tablet {
            font-size: .875rem;
        }
    }

    &__company {
        margin: 0;
        @include tablet {
            font-size: .875rem;
        }
        // border: 1px solid yellow;
    }

    &__details {
        border: 2px solid purple;
        margin: 1rem 0;
        @include tablet {
            margin: 1.5rem 0;
            @include tab-desk-body;
        }
    }

    &__email {
        font-style: normal;
        margin: 1rem 0;
        @include tablet {
            margin: 0;
            @include tab-desk-body;
        }
    }
}